.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 50px;
}

.pagination button {
  font-family: "Montserrat Alternates", sans-serif, "Noto Sans Thai", sans-serif;
  background: var(--secondary-color);
  height: 30px;
  width: 30px;
  color: var(--primary-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  animation: appear 0.8s;
  box-shadow: 0px -5px 20px var(--black-shadow);
}

.pagination button.active {
  border: 3px solid var(--highlight-color);
}

.pagination button:hover {
  background: var(--highlight-color);
  color: var(--secondary-color);
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
