:root {
  --primary-color: #60ab9a;
  --secondary-color: #f8f9fa;
  --highlight-color: #e5625e;
  --dark-color: #342a21;

  --main-shadow: rgba(96, 171, 154, 1);
  --black-shadow: rgba(0, 0, 0, 0.2);

  --text-large-size: large;
  --text-medium-size: medium;
  --text-small-size: small;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 60px;
  background-image: url(https://daviddoran.co.uk/content/uploads/2022/04/Sommerro_DavidDoran_Artwork_2_1800px.jpg.webp);
  background-size: 100%;
  font-family: "Montserrat Alternates", sans-serif, "Noto Sans Thai", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1 {
  color: var(--secondary-color);
  text-shadow: 0px -5px 20px var(--black-shadow);
  margin-top: 25px;
  font-size: 4rem;
}

/* Loding and No books found */
.status-no {
  font-size: 2rem;
  animation: shake 0.8s reverse;
  color: var(--secondary-color);
}

.status-load {
  font-size: 2rem;
  animation: bounce 0.5s;
  color: var(--secondary-color);
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
